/* Import Fonts */

/* poppins font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Css Reset  */

* {
  margin: 0;
  padding: 0;
}

/* style for nav bar  */
nav {
  height: 110px;
  background-color: #fff4b5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* style for nav bar list items */
.nav-items ul {
  display: flex;
  gap: 60px;
}

.nav-items ul li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Nav buttons  */
.nav-buttons .nav-login {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.nav-buttons .sign-up {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #e94339;
  width: 115px;
  height: 56px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
}

/* first section */

.first {
  min-height: 100vh;
  background-color: #87a2ff;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 120px 15%;
}

.left-section {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left-section h1 {
  font-family: "Inter", sans-serif;
  font-size: 61px;
}

.left-section p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.order-input {
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
  align-items: center;
  width: 475px;
  padding: 8px 3px;
  border-radius: 50px;
  background-color: #ffffff;
}

.order-input input {
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
}

.order-input button {
  background-color: #e94339;
  color: white;
  border: none;
  outline: none;
  padding: 18px 30px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
}

.right-section {
  width: 570px;
  height: 478px;
  padding: 0 5px;
  border-radius: 36px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: end;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 120px 33%;
}

.orange-text {
  color: #ff5331;
}

.text-wrapper h1 {
  font-family: "Inter", sans-serif;
  font-size: 46px;
  text-align: center;
}

.text-wrapper p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 20px;
}

.photo-container {
  width: 1609px;
  height: 1006px;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 4px;
}

.photo-header {
  position: relative;
  height: 110px;
}

.photo-header span {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-style: italic;
  position: absolute;
  top: 50px;
  left: 58px;
}

.photo-imgWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.second {
  min-height: 100vh;
  background-color: #afddff;
  padding: 30px;
}

.second-frame {
  height: auto;
  width: 65%;
  margin: 0 auto;
  padding-top: 80px;
}

.icon-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.icon-content .row1 {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.icon-card {
  width: 168px;
  height: 232px;
  background-color: #fafafa;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.icon-cardScooter {
  width: 568px;
  height: 232px;
  border-radius: 28px;
  background-color: #ffffff;
  position: relative;
}

.icon-cardScooter p {
  max-width: 420px;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: absolute;
  top: 40px;
  left: 30px;
}

.green-text {
  color: #009b00;
}

.icon-cardScooter img {
  position: absolute;
  bottom: 0px;
  right: 30px;
}

.icon-circle {
  width: 108px;
  height: 108px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-text span {
  font-family: "Inter", sans-serif;
  font-size: 24px;
}

.icon-content .row2 {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.quotes-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.quote-text {
  font-family: "Inter", sans-serif;
  font-size: 23px;
  max-width: 545px;
}

.second-order {
  height: auto;
  width: 65%;
  margin: 0 auto;
  padding-top: 80px;
}

.order-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.order-text {
  text-align: center;
}

.order-text h1 {
  font-family: "Inter", sans-serif;
  font-size: 46px;
  font-weight: 600;
}

.order-cardWrapper {
  display: flex;
  justify-content: space-around;
  gap: 55px;
}

.order-card {
  width: 214px;
  height: 267px;
  background-color: #fafafa;
  padding: 8px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-direction: column;
}

.order-card-icon {
  width: 94px;
  height: 94px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-card-text {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  text-align: center;
}

.third {
  height: 40vh;
  background-color: #03c988;
}

footer {
  height: 15vh;
  background-color: #1e3e62;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
